*.sln
MPRS_upstream.VC.db
*.opendb
*.filters
MPRS_upstream.vcxproj
*.ipch
Debug/vc140.pdb
*.obj
Debug/MPRS_upstream.tlog/link.write.1.tlog
*.tlog
*.suo
Debug/MPRS_upstream.ilk
*.exe
Debug/MPRS_upstream.log
*.pdb
Debug/vc140.idb
*.pch
*.ilk
x64/Debug/MPRS_upstream.log
*.idb
targetver.h